
    <div class="sidebar" data-color="orange">
      <!-- Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow" -->
      <div class="logo">
        <a href="https://github.com/Yousab/root-finder" class="simple-text logo-mini">
          SRC
        </a>
        <a href="/" class="simple-text logo-normal">
          Root Finder
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="/">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="now-ui-icons education_atom"></i>
              <span>Bracketing Methods</span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/bisection">BiSection</a>
              <a class="dropdown-item" href="/false-position">False Position</a>
            </div>
          </li>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="now-ui-icons design-2_ruler-pencil"></i>
                <span>Open Methods</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/secant">Secant</a>
                <a class="dropdown-item" href="/fixed-point">Fixed Point</a>
              </div>
            </li>

          {% if current_user.is_authenticated %}

          <!-- <li>
            <a href={{ url_for('logout') }}>
              <i class="now-ui-icons media-1_button-power"></i>
              <p>Logout</p>
            </a>
          </li> -->

          {% else %}

          <!-- <li>
            <a href={{ url_for('login') }}>
              <i class="now-ui-icons sport_user-run"></i>
              <p>Login</p>
            </a>
          </li> -->

          {% endif %}
        </ul>
      </div>
    </div>

